.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $header-thickness;
  padding: 0 40px;
  width: 100vw;  // 👈 full width of the viewport
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
  flex-wrap: wrap;
  overflow-x: hidden; /* 👈 Add this */
}

@media (max-width: $container-width) {
  .site-header {
    min-height: 56px;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }
}
.site-header a {
  text-decoration: none;
}
.site-title {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  margin: 0;
  padding: 12px 20px;
}
.menu-list {
  display: flex;
  gap: 20px;               /* spacing between items */
  align-items: center;
  flex-wrap: wrap;
}
.menu-link {
  padding: 10px 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.menu-link:hover {
  color: #000;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-top: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
}
.cv-button {
  margin-left: 0px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Source Code Pro', monospace;  /* 👈 match font */
  font-size: 0.9rem;  /* Adjust if needed */
  letter-spacing: 0.15em;  /* Optional: match style */
  text-transform: uppercase;  /* Optional: match style */
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
}


.cv-button:hover {
  background-color: white;
  color: black;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  max-width: 100%;
  margin-left: 650px;
}
